*.o
calculadora_server
calculadora_client
/P2.2/gen-java/JavaApplication1/nbproject/private/
/P2.2/gen-java/JavaApplication1/build/
/P2.2/gen-java/CalculadoraThrift/build/
/P3/RMI_1/nbproject/private/
/P3/RMI_1/build/
/P3/RMI_1/dist/
/P3/ejemplo1/nbproject/private/
/P3/ejemplo1/build/
/P3/ejemplo1/dist/
../../.idea/
.idea/